<nav>
    <a href="/"><img src="/img/logo.png" alt="inkPot logo"></a>

    <div class="NAVtitle">
        <% if(typeof profileUser !== 'undefined' && profileUser !== null) { %>
            <h2><a href="/<%= profileUser.username %>"><%= profileUser.username %>'s quotes</a></h2>
        <% } else if(typeof user !== 'undefined' && user !== null) { %>
            <h2><a href="/home/<%= user.username %>">QUOTES - <%= user.username %></a></h2>
        <% } else { %>
            <h2><a href="/">QUOTES</a></h2>
        <% } %>
    </div>

    <div class="NAVlinks">
        <% if(typeof user !== 'undefined' && user !== null) { %>
            <form class="logoutBttn" action="/log-out" method="post">
                <button type="submit">Log out</button>
            </form>
        <% } else { %>
            <h2><a href="/sign-up">SIGN UP</a></h2>
            <h2><a href="/log-in">LOG IN</a></h2>
        <% } %>
    </div>
</nav>