<nav>
    <a href="/"><img src="/img/logo.png" alt="inkPot logo"></a>

    <h2><a href="/">QUOTES</a></h2>

    <h2><a href="/sign-up">SIGN UP</a></h2>
    <h2><a href="/log-in">LOG IN</a></h2>
</nav>