<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="errorPage">
    <h1>- 404 -</h1>
    <p>Oopsie! looks like we dont have the page you are looking for :(</p>
</div>


<%- include('./partials/foot.ejs') %>