<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<% if(quote) { %>
    <div class="landingQuote">
        <%- include('./partials/mainQuote.ejs', { quote }); %>
    </div>
<% } else { %>
    <p>There are no quotes here currently :(</p>
<% } %>

<%- include('./partials/foot.ejs') %>