<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<form class="signupForm" action="/log-in" method="POST">
    <h2>LOG IN</h2>

    <div class="inputs">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <%-include('./partials/messageField.ejs') %>

    <button type="submit">LOG IN</button>

    <p>Don't have an account? <br> <a href="/sign-up">Sign up here</a></p>
</form>

<%- include('./partials/foot.ejs') %>