<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="quotes">
    <% if(quotes.length > 0) { %>
        <% quotes.forEach(quote => { %>
            <div class="quoteView">
                <%- include('./partials/mainQuote.ejs', { quote }); %>
            </div>
        <% }) %>
    <% } else { %>
        <p>This user has not published any quotes yet!</p>
    <% } %>    
</div>


<%- include('./partials/foot.ejs') %>