* {
    --background-color: #335165;
    --light-background-color: #587D98;
    --dark-text: #2A281E;
    --light-text: #DFE7ED;
    --accent-color: #E0D99D;
}

body {
    background-color: var(--background-color);
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

p {
    font-family: helvetica;
}

button:hover {
    cursor: pointer;
    background-color: var(--light-text);
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: var(--accent-color) 1px solid;
}

nav a {
    color: var(--light-text);
    text-decoration: none;
}

nav img {
    width: 50px;
    margin: 0 30px;
}

.NAVtitle {
    width: fit-content;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.NAVlinks {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: fit-content;
    margin: 0 30px;
}

.logout {
    border: none;
    box-shadow: none;
}

.logout button {
    font-size: 20px;
    text-wrap: nowrap;
    display: flex;
    padding: 10px;
    border: var(--dark-text) 1px solid;
}

/* forms */

form {
    border: var(--accent-color) 1px solid;
    border-radius: 20px;
    background-color: var(--light-background-color);
    box-shadow: var(--dark-text) 5px 0px 10px;
    margin: 10% auto;
    text-align: center;
    color: var(--dark-text);
    width: 50%;
}

form textarea {
    font-family: helvetica;
    background-color: var(--light-text);
    height: 80px;
}

form input {
    background-color: var(--light-text);
    border: var(--background-color) 1px solid;
}

form button {
    color: var(--dark-text);
    background-color: var(--accent-color);
    border: var(--background-color) 1px solid;
    border-radius: 5px;
    font-size: 32px;
    padding: 5px 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signupForm {
    width: 30%;
}

.signupForm h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.signupForm a {
    color: var(--accent-color);
}

.inputs {
    text-align: left;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.inputs input {
    height: 40px;
    border-radius: 5px;
}

/* 404 page */

.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.errorPage h1 {
    color: var(--light-text);
}

.errorPage p {
    color: var(--accent-color);
}

/* LANDING page */

.landingQuote {
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10% auto;
}

.quote h1 {
    color: var(--light-text);
}

.quote p {
    color: var(--accent-color);
}

/* HOME page */

.homeWelcome {
    display: flex;
    text-align: center;
    justify-content: center;
}

.homeWelcome h2 {
    color: var(--light-text);
    text-transform: capitalize;
}

.createQuote {
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 40px;
}

.yourQuotes h2 {
    color: var(--accent-color);
}

.quotes {
    max-width: 50%;
    margin: 0 auto;
}

.quoteView {
    border-bottom: var(--light-text) 1px solid;
}

.deleteAccount {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--accent-color);
    margin-bottom: 20px;
    margin-top: 60px;
}

.deleteAccount button {
    font-size: 20px;
    border: var(--dark-text) 1px solid;
}

/* FOOTER */

footer {
    color: var(--light-text);
    font-family: helvetica;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}